<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLBD-d-KtIP1l_9wsqVeJkZNAgpVwi2T4</string>
	<key>GCM_SENDER_ID</key>
	<string>1025437176913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineAssistant</string>
	<key>PROJECT_ID</key>
	<string>medicine-assistant-b2bce</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-assistant-b2bce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025437176913:ios:0c789f5493cf19571ad470</string>
</dict>
</plist>